@import '@fontsource/metropolis/100.css';
@import '@fontsource/metropolis/200.css';
@import '@fontsource/metropolis/300.css';
@import '@fontsource/metropolis/400.css';
@import '@fontsource/metropolis/500.css';
@import '@fontsource/metropolis/600.css';
@import '@fontsource/metropolis/700.css';
@import '@fontsource/metropolis/800.css';
@import '@fontsource/metropolis/900.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #071924;
  --font-metropolis: 'Metropolis', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-metropolis);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base styles for Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F2F2F2; 
}
::-webkit-scrollbar-thumb {
  background: #5bc4f1; 
}
::-webkit-scrollbar-thumb:hover {
  background: #3a9dbf; 
}

/* Smooth anchor scrolling */
html {
  scroll-behavior: smooth;
}
